@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Grupo Chernopopo</h1>
    <img src="/img/chernologo.jpg"/>
</div>

<section>
    @foreach(Integrante integrante in ViewBag.grupo.Values)
    {
        <h2>@integrante.ObtenerNombre(), <img src="img/@integrante.ObtenerFoto()"/></h2>
        <a href='@Url.Action("SelectIntegrante","Home", new { dni = integrante.ObtenerDni() })'>Ver Detalles</a>
    }
</section>
