@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido al TP! Grupo Chernopopo</h1>
    <img class="logo" src="/img/chernologo.jpg"/>
    
</div>

<div class= "text-center">
    @foreach(Integrante integrante in ViewBag.grupo.Values)
    {
        <div class = "Persona">
        <h2>@integrante.ObtenerNombre()</h2>
        <img class = "integrante" src="img/@integrante.ObtenerFoto()"/> <br>
        <a href='@Url.Action("SelectIntegrante","Home", new { dni = integrante.ObtenerDni() })'>Ver Detalles</a>
        </div>
    }
</div>
